.item {
  width: 500px;
  height: 500px;
  padding: 20px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes image fill without distortion */
  border-radius: 10px; /* optional for style */
}
#games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between items */
  justify-content: center;
}

      body {
        background-color: rgb(211, 255, 240);
        margin: 0;
        margin: 0;
      }
      nav {
        background-color: rgb(188, 213, 205);
        top: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      #title {
        font-size: 40px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: bold;
      }
      #img {
        width: 50px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        margin-right: 10px;

        background-color: aquamarine;
      }